@model LibaryProject.Models.Entity.TblKitap
@{
    ViewBag.Title = "GetKitap";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateKitap", "Kitap", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Kitap ID</label>
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(k => k.Ad, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kategori</label>
            @Html.DropDownListFor(k => k.TblKategori.ID, (IEnumerable<SelectListItem>)ViewData["dgr1"], new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar</label>
            @Html.DropDownListFor(k => k.TblYazar.ID, (IEnumerable<SelectListItem>)ViewData["dgr2"], new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Basım Yılı</label>
            @Html.TextBoxFor(k => k.BasımYılı, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yayın Evi</label>
            @Html.TextBoxFor(k => k.YayınEvi, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Sayfa</label>
            @Html.TextBoxFor(k => k.SayfaSayısı, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Sayfa</label>
            @Html.TextAreaFor(k => k.Detay, new { @class = "form-control" })
        </div>
        <button class="btn btn-warning">Kitap Bilgilerini Güncelle</button>
        @*<input type="hidden" name="Durum" value="True" />*@
    </div>
}

