@model LibaryProject.Models.Entity.TblDuyurular
@{
    ViewBag.Title = "DuyuruDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Duyuru Detayları</h2>
<br />
@*Html Helper komutları ile güncelleme işlemi*@
@using (Html.BeginForm("DuyuruGuncelle", "Duyuru", FormMethod.Post))
{
    <div style="margin-bottom:20px"></div>
    <div class="form-group">
        @Html.LabelFor(x => x.ID)
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        <br />
        <label>Duyuru Kategorisi</label>
        @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })
        <br />
        <label>Duyuru İçeriği</label>
        @Html.TextAreaFor(x => x.Duyuru, new { @class = "form-control" })
        <br />
        <label>Duyuru Tarihi</label>
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}